<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">

    <body>

        <ui:composition template="../../template.xhtml">

            <ui:define name="body">
                <h:form>
                    <ace:panel id="personalInfoInputPanel" header="Registrace">

                        <h:panelGroup id="messagePanel" layout="block">
                            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                        </h:panelGroup>
                        <h:panelGrid columns="2">
                            <h:outputText value="Uživatelské jméno: "></h:outputText>
                            <ace:textEntry id="username" value="#{regBean.username}"
                                           labelPosition="left" required="true" requiredIndicator="(*)" indicatorPosition="right" requiredMessage="Vložte uživatelské jméno.!"></ace:textEntry>

                            <h:outputText value="Heslo: "></h:outputText>
                            <ice:inputSecret id="password" value="#{regBean.password}" 
                                             required="true" requiredMessage="Vložte heslo!"></ice:inputSecret>

                            <h:outputText value="Potvrdit heslo: "></h:outputText>
                            <ice:inputSecret id="confirmpassword"
                                             value="#{regBean.confirmpassword}" required="true"
                                             requiredMessage="Potvrďte heslo!"></ice:inputSecret>

                            <ice:outputLabel id="forCisloDoklad" for="cisloDokladu" value="Číslo OP"></ice:outputLabel>
                            <ace:maskedEntry id="dobInput" value="#{regBean.zakaznik.cisloDokladu}" mask="99999999" labelPosition="left" required="true" requiredIndicator="(*)" indicatorPosition="right" requiredMessage="Vložte číslo OP!">
                            </ace:maskedEntry>

                            <h:outputText value="Jméno: "></h:outputText>
                            <ace:textEntry id="firstname" value="#{regBean.zakaznik.jmeno}"
                                           labelPosition="left" required="true" requiredIndicator="(*)" indicatorPosition="right" requiredMessage="Vložte jméno!"></ace:textEntry>

                            <h:outputText value="Příjmení: "></h:outputText>
                            <ace:textEntry id="lastname" value="#{regBean.zakaznik.prijmeni}"
                                           labelPosition="left" required="true" requiredIndicator="(*)" indicatorPosition="right" requiredMessage="Vložte příjmení!"></ace:textEntry>

                            <h:outputText value="Adresa: "></h:outputText>
                            <ace:textEntry id="adresa" value="#{regBean.zakaznik.adresa}"
                                           labelPosition="left" required="true" requiredIndicator="(*)" indicatorPosition="right" requiredMessage="Vložte adresu!"></ace:textEntry>

                            <!-- IF USER IS ADMIN ADD USER ROLE MANAGER -->
                            <!-- #.{facesContext.externalContext.isUserInRole('ADMIN') -->
                            
                            <h:outputText value="Datum narození: "></h:outputText>
                            <ace:dateTimeEntry id="dob" showOn="both"
                                               value="#{regBean.zakaznik.datumNarozeni}"
                                               pattern="dd. MM. yyyy"
                                               renderAsPopup="true"
                                               rendered="true"
                                               required="true"
                                               requiredMessage="Vložte datum narození"
                                               maxdate="#{rezervaceController.maxDateBirth}"
                                               requiredIndicator="(*)"/>

                            <h:commandButton type="submit" value="Registrovat"
                                             action="#{regBean.addUser}"></h:commandButton>
                        </h:panelGrid>

                    </ace:panel>
                </h:form>
            </ui:define>
        </ui:composition>

    </body>
</html>