<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">

    <ui:composition template="../../template.xhtml">
            <ui:define name="body">
            <h:form>
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <style type="text/css">
                    /* Important required because row */
                    .ui-datatable-odd {background-color:lightblue !important;}
                </style>
                <ace:dataTable id="showRezervace"
                               value="#{pobytController.allPobyts}"
                               var="car"
                               rows="10"
                               paginator="true"
                               paginatorPosition="bottom"
                               selectionMode="single"
                               rowSelectListener="#{pobytController.selectListener}">>
                    <ace:column id="id" headerText="Id rezervace" filterBy="#{car.idRezervace.idRezervace}" filterMatchMode="contains">
                        <h:outputText id="idC" value="#{car.idRezervace.idRezervace}"/>
                    </ace:column>
                    <ace:column id="dz" headerText="Datum začátku" filterBy="#{car.datumZacatku}" filterMatchMode="contains">
                        <h:outputText id="dzC" value="#{car.datumZacatku}">
                            
                                    <f:convertDateTime pattern="dd. MM. yyyy"></f:convertDateTime>
                        </h:outputText>
                    </ace:column>
                    <ace:column id="dk" headerText="Datum konce" filterBy="#{car.datumKonce}" filterMatchMode="contains">
                        <h:outputText id="dkC" value="#{car.datumKonce}">
                            
                                    <f:convertDateTime pattern="dd. MM. yyyy"></f:convertDateTime>
                        </h:outputText>
                    </ace:column>
                    <ace:column id="cp" headerText="Číslo pokoje" filterBy="#{car.cisloPokoje}" filterMatchMode="contains">
                        <h:outputText id="cpC" value="#{car.cisloPokoje}"/>
                    </ace:column>
                    
                    <ace:column id="pokje" headerText="Služby v pobytu" filterBy="#{car.popis}" filterMatchMode="contains">
                        
                        <h:outputText value="Žádné" rendered="#{empty car.sluzbyVPobytuCollection}" />
                        <ice:panelSeries var="item" value="#{car.sluzbyVPobytuCollection}" rendered="#{not empty car.sluzbyVPobytuCollection}">
                            <h:outputText value="#{item.idSluzby.nazev}"/>
                            <h:outputText value=", "/>
                        </ice:panelSeries>
                    </ace:column>
                </ace:dataTable>
                
                <br/>
                <ace:panel id="personalInfoInputPanel" header="Pobyt"  rendered="#{pobytController.isIsSelected()}">
                    <h:panelGrid id="inputGrid" columns="2" width="25%" styleClass="textEntryInputTable">
                        <h:outputLabel style="font-weight: bold" value="ID rezervace: "/>
                        <h:outputText id="idC" value="#{pobytController.current.idRezervace.idRezervace}"/>
                        <h:outputLabel style="font-weight: bold" value="Datum Začátku"/>
                        <h:outputText id="cdC" value="#{pobytController.current.datumZacatku}">
                                    <f:convertDateTime pattern="dd. MM. yyyy"></f:convertDateTime>
                        </h:outputText>
                        <h:outputLabel style="font-weight: bold" value="Datum Konce: "/>
                        <h:outputText id="dvC" value="#{pobytController.current.datumKonce}">
                                    <f:convertDateTime pattern="dd. MM. yyyy"></f:convertDateTime>
                        </h:outputText>
                        <h:outputLabel style="font-weight: bold" value="Číslo pokoje:"/>
                        <h:outputText id="dpC" value="#{pobytController.current.cisloPokoje}"/>
                        <h:outputLabel style="font-weight: bold" value="Služby v pobytu: "/>
                        
                        <h:outputText value="Žádné" rendered="#{empty pobytController.current.sluzbyVPobytuCollection}" />
                        <ice:panelSeries var="item" value="#{pobytController.current.sluzbyVPobytuCollection}" rendered="#{not empty pobytController.current.sluzbyVPobytuCollection}">
                            <h:outputText value="#{item.idSluzby.nazev}"/>
                            <h:outputText value=", "/>
                        </ice:panelSeries>
                        
                        
                        <h:commandButton value="Zrušit" action="#{pobytController.destroy()}"/><br/>
                    </h:panelGrid>
                </ace:panel>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
