<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="../../template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewSluzbaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewSluzbaLabel_idSluzby}"/>
                    <h:outputText value="#{sluzbaController.selected.idSluzby}" title="#{bundle.ViewSluzbaTitle_idSluzby}"/>
                    <h:outputText value="#{bundle.ViewSluzbaLabel_nazev}"/>
                    <h:outputText value="#{sluzbaController.selected.nazev}" title="#{bundle.ViewSluzbaTitle_nazev}"/>
                    <h:outputText value="#{bundle.ViewSluzbaLabel_popis}"/>
                    <h:outputText value="#{sluzbaController.selected.popis}" title="#{bundle.ViewSluzbaTitle_popis}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{sluzbaController.destroyAndView}" value="#{bundle.ViewSluzbaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewSluzbaEditLink}"/>
                <br />
                <h:commandLink action="#{sluzbaController.prepareCreate}" value="#{bundle.ViewSluzbaCreateLink}" />
                <br />
                <h:commandLink action="#{sluzbaController.prepareList}" value="#{bundle.ViewSluzbaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewSluzbaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
