<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">

    <ui:composition template="../../template.xhtml">
        <ui:define name="body">
            <h:form>
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <style type="text/css">
                    /* Important required because row */
                    .ui-datatable-odd {background-color:lightblue !important;}
                </style>
                <ace:dataTable id="showRezervace"
                               value="#{rezervaceController.allUsers}"
                               var="car"
                               rows="10"
                               paginator="true"
                               paginatorPosition="bottom"
                               selectionMode="single"
                               rowSelectListener="#{rezervaceController.selectListener}">
                    <ace:column id="id" headerText="id" filterBy="#{car.idRezervace}" filterMatchMode="contains">
                        <h:outputText id="idC" value="#{car.idRezervace}"/>
                    </ace:column>
                    <ace:column id="cd" headerText="Číslo dokladu" filterBy="#{car.cisloDokladu.cisloDokladu}" filterMatchMode="contains">
                        <h:outputText id="cdC" value="#{car.cisloDokladu.cisloDokladu}"/>
                    </ace:column>
                    <ace:column id="dv" headerText="Datum vytvoření" filterBy="#{car.datumVytvoreni}" filterMatchMode="contains">
                        <h:outputText id="dvC" value="#{car.datumVytvoreni}">
                                    <f:convertDateTime pattern="dd. MM. yyyy"></f:convertDateTime>
                        </h:outputText>
                    </ace:column>
                    <ace:column id="dp" headerText="Datum potrvzení" filterBy="#{car.stringOfDatumPotvrzeni()}" filterMatchMode="contains">
                        <h:outputText id="dpC" value="#{car.stringOfDatumPotvrzeni()}">
                                    <f:convertDateTime pattern="dd. MM. yyyy"></f:convertDateTime>
                        </h:outputText>
                    </ace:column>
                    <ace:column id="dz" headerText="Datum zaplacení" filterBy="#{car.stringOfDatumZaplaceni()}" filterMatchMode="contains">
                        <h:outputText id="dzC" value="#{car.stringOfDatumZaplaceni()}">
                                    <f:convertDateTime pattern="dd. MM. yyyy"></f:convertDateTime>
                        </h:outputText>
                    </ace:column>
                    <!--
                        <h:commandLink action="#.{rezervaceController.prepareView}" value="#.{bundle.ListRezervaceViewLink}"/>
                        <h:outputText value=" "/>
                        <h:commandLink action="#.{rezervaceController.prepareEdit}" value="#.{bundle.ListRezervaceEditLink}"/>
                        <h:outputText value=" "/>
                        <h:commandLink action="#.{rezervaceController.destroy}" value="#.{bundle.ListRezervaceDestroyLink}"/>
                    -->
                </ace:dataTable>
                </h:form>
                <h:form>
                <br/>
                <ace:panel id="personalInfoInputPanel" header="Rezervace"  rendered="#{rezervaceController.isRowSelected()}">
                    <h:panelGrid id="inputGrid" columns="2" width="25%" styleClass="textEntryInputTable">
                        <h:outputLabel style="font-weight: bold" value="ID: "/>
                        <h:outputText id="idC" value="#{rezervaceController.current.idRezervace}"/>
                        <h:outputLabel style="font-weight: bold" value="Číslo dokladu: "/>
                        <h:outputText id="cdC" value="#{rezervaceController.current.cisloDokladu.cisloDokladu}"/>
                        <h:outputLabel style="font-weight: bold" value="Datum vytvoření: "/>
                        <h:outputText id="dvC" value="#{rezervaceController.current.datumVytvoreni}">
                                    <f:convertDateTime pattern="dd. MM. yyyy"></f:convertDateTime>
                        </h:outputText>
                        <h:outputLabel style="font-weight: bold" value="Datum potrvzení:"/>
                        <h:outputText id="dpC" value="#{rezervaceController.current.stringOfDatumPotvrzeni()}">
                                    <f:convertDateTime pattern="dd. MM. yyyy"></f:convertDateTime>
                        </h:outputText>
                        <h:outputLabel style="font-weight: bold" value="Datum zaplacení: "/>
                        <h:outputText id="dzC" value="#{rezervaceController.current.stringOfDatumZaplaceni()}">
                                    <f:convertDateTime pattern="dd. MM. yyyy"></f:convertDateTime>
                        </h:outputText>

                        <h:commandButton value="Zrušit" actionListener="#{rezervaceController.destroy()}"/>
                    </h:panelGrid>
                </ace:panel>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
