<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components">

    <ui:composition template="../../template.xhtml">
        
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewRezervaceLabel_idRezervace}"/>
                    <h:outputText value="#{rezervaceController.selected.idRezervace}" title="#{bundle.ViewRezervaceTitle_idRezervace}"/>
                    <h:outputText value="#{bundle.ViewRezervaceLabel_datumVytvoreni}"/>
                    <h:outputText value="#{rezervaceController.selected.datumVytvoreni}" title="#{bundle.ViewRezervaceTitle_datumVytvoreni}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewRezervaceLabel_datumPotvrzeni}"/>
                    <h:outputText value="#{rezervaceController.selected.datumPotvrzeni}" title="#{bundle.ViewRezervaceTitle_datumPotvrzeni}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewRezervaceLabel_datumZaplaceni}"/>
                    <h:outputText value="#{rezervaceController.selected.datumZaplaceni}" title="#{bundle.ViewRezervaceTitle_datumZaplaceni}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewRezervaceLabel_jeVHistorii}"/>
                    <h:outputText value="#{rezervaceController.selected.jeVHistorii}" title="#{bundle.ViewRezervaceTitle_jeVHistorii}"/>
                    <h:outputText value="#{bundle.ViewRezervaceLabel_cisloDokladu}"/>
                    <h:outputText value="#{rezervaceController.selected.cisloDokladu}" title="#{bundle.ViewRezervaceTitle_cisloDokladu}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{rezervaceController.destroyAndView}" value="#{bundle.ViewRezervaceDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewRezervaceEditLink}"/>
                <br />
                <h:commandLink action="#{rezervaceController.prepareCreate}" value="#{bundle.ViewRezervaceCreateLink}" />
                <br />
                <h:commandLink action="#{rezervaceController.prepareList}" value="#{bundle.ViewRezervaceShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewRezervaceIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
