<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="../../template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePokojTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePokojLabel_cisloPokoje}" for="cisloPokoje" />
                    <h:inputText id="cisloPokoje" value="#{pokojController.selected.cisloPokoje}" title="#{bundle.CreatePokojTitle_cisloPokoje}" required="true" requiredMessage="#{bundle.CreatePokojRequiredMessage_cisloPokoje}"/>
                    <h:outputLabel value="#{bundle.CreatePokojLabel_pocetLuzek}" for="pocetLuzek" />
                    <h:inputText id="pocetLuzek" value="#{pokojController.selected.pocetLuzek}" title="#{bundle.CreatePokojTitle_pocetLuzek}" required="true" requiredMessage="#{bundle.CreatePokojRequiredMessage_pocetLuzek}"/>
                    <h:outputLabel value="#{bundle.CreatePokojLabel_cena}" for="cena" />
                    <h:inputText id="cena" value="#{pokojController.selected.cena}" title="#{bundle.CreatePokojTitle_cena}" required="true" requiredMessage="#{bundle.CreatePokojRequiredMessage_cena}"/>
                    <h:outputLabel value="#{bundle.CreatePokojLabel_jeObsazen}" for="jeObsazen" />
                    <h:inputText id="jeObsazen" value="#{pokojController.selected.jeObsazen}" title="#{bundle.CreatePokojTitle_jeObsazen}" required="true" requiredMessage="#{bundle.CreatePokojRequiredMessage_jeObsazen}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pokojController.create}" value="#{bundle.CreatePokojSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{pokojController.prepareList}" value="#{bundle.CreatePokojShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePokojIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
