<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="../../template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPokojTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPokojEmpty}" rendered="#{pokojController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{pokojController.items.rowCount > 0}">
                    <h:outputText value="#{pokojController.pagination.pageFirstItem + 1}..#{pokojController.pagination.pageLastItem + 1}/#{pokojController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{pokojController.previous}" value="#{bundle.Previous} #{pokojController.pagination.pageSize}" rendered="#{pokojController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{pokojController.next}" value="#{bundle.Next} #{pokojController.pagination.pageSize}" rendered="#{pokojController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{pokojController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPokojTitle_cisloPokoje}"/>
                            </f:facet>
                            <h:outputText value="#{item.cisloPokoje}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPokojTitle_pocetLuzek}"/>
                            </f:facet>
                            <h:outputText value="#{item.pocetLuzek}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPokojTitle_cena}"/>
                            </f:facet>
                            <h:outputText value="#{item.cena}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPokojTitle_jeObsazen}"/>
                            </f:facet>
                            <h:outputText value="#{item.jeObsazen}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{pokojController.prepareView}" value="#{bundle.ListPokojViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pokojController.prepareEdit}" value="#{bundle.ListPokojEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pokojController.destroy}" value="#{bundle.ListPokojDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{pokojController.prepareCreate}" value="#{bundle.ListPokojCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPokojIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
