<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="../../template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPokojTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPokojLabel_cisloPokoje}"/>
                    <h:outputText value="#{pokojController.selected.cisloPokoje}" title="#{bundle.ViewPokojTitle_cisloPokoje}"/>
                    <h:outputText value="#{bundle.ViewPokojLabel_pocetLuzek}"/>
                    <h:outputText value="#{pokojController.selected.pocetLuzek}" title="#{bundle.ViewPokojTitle_pocetLuzek}"/>
                    <h:outputText value="#{bundle.ViewPokojLabel_cena}"/>
                    <h:outputText value="#{pokojController.selected.cena}" title="#{bundle.ViewPokojTitle_cena}"/>
                    <h:outputText value="#{bundle.ViewPokojLabel_jeObsazen}"/>
                    <h:outputText value="#{pokojController.selected.jeObsazen}" title="#{bundle.ViewPokojTitle_jeObsazen}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pokojController.destroyAndView}" value="#{bundle.ViewPokojDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPokojEditLink}"/>
                <br />
                <h:commandLink action="#{pokojController.prepareCreate}" value="#{bundle.ViewPokojCreateLink}" />
                <br />
                <h:commandLink action="#{pokojController.prepareList}" value="#{bundle.ViewPokojShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPokojIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
