<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">

    <ui:composition template="../../template.xhtml">

        <ui:define name="body">

            <h:form>
                <style type="text/css">
                    /* Important required because row */
                    .ui-datatable-odd {background-color:lightblue !important;}
                </style>
                <ace:dataTable id="showSluzby"
                               value="#{sluzbaController.allSluzba}"
                               var="s"
                               rows="10"
                               paginator="true"
                               paginatorPosition="bottom">
                    <ace:column id="car" headerText="Id" filterBy="#{s.idSluzby}" filterMatchMode="contains">
                        <h:outputText id="carCell" value="#{s.idSluzby}"/>
                    </ace:column>
                    <ace:column id="name" headerText="Název" filterBy="#{s.nazev}" filterMatchMode="contains">
                        <h:outputText id="nameCell" value="#{s.nazev}"/>
                    </ace:column>
                    <ace:column id="popis" headerText="Popis" filterBy="#{s.popis}" filterMatchMode="contains">
                        <h:outputText id="namePopis" value="#{s.popis}"/>
                    </ace:column>
                    <ace:column id="pokje" headerText="Pokoje" filterBy="#{s.popis}" filterMatchMode="contains">
                        <ice:panelSeries var="item" value="#{s.sluzbyNaPokojiCollection}">
                            <h:outputText value="č. #{item.cisloPokoje.cisloPokoje}"/>
                            <h:outputText value=" "/>
                        </ice:panelSeries>
                    </ace:column>
                </ace:dataTable>
            </h:form>

        </ui:define>
    </ui:composition>

</html>
