html, body {
	margin: 0;
	padding: 0;
}

.green {
    color: green;
}
.red { 
    color:red;
}

body {
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 12px;
	color: #666666;
	background: #dddddd;
	text-align: center;
}

.hidden {
	display: none;
}

#page-container {
	width: 810px;
	margin: auto;
	text-align: left;
}

#main-nav { 
    padding: 30px 0px 0px 0px;
    margin: auto;
    height: 30px;
    width: 100%;
    background-color: #dddddd;
    color: #222222;
}
#main-nav dl { margin: 0; padding: 0; }
#main-nav dt { float: left; }

#main-nav dt a {
    width: 15%;
	height: 10px;
	padding: 50px 0 0 0;
	overflow: hidden;
    color: #111111;
}

#main-nav dt a:hover {
	background: #eb6d26;
    background-position: 0 -50px;
}


#main-nav dt#info,
#main-nav dt#info a { width: 71px;}

#main-nav dt#pokoje,
#main-nav dt#pokoje a { width: 84px}

#main-nav dt#pobyty,
#main-nav dt#pobyty a { width: 95px}

#main-nav dt#rezervace,
#main-nav dt#rezervace a { width: 106px}

#main-nav dt#sluzby,
#main-nav dt#sluzby a { width: 106px}

body.about dt#about,
body.about dt#about a,
body.about dt#about a:hover,
body.services dt#services,
body.services dt#services a,
body.services dt#services a:hover,
body.portfolio dt#portfolio,
body.portfolio dt#portfolio a,
body.portfolio dt#portfolio a:hover,
body.contact dt#contact,
body.contact dt#contact a,
body.contact dt#contact a:hover {
	background-position: 0 -100px;
}

body.about #header {
	height: 120px;
	background: #eb6d26;
}

h1 {
	margin: 0;
	padding: 0;
	float: right;
	margin-top: 57px;
	padding-right: 31px;
}

#sidebar-a {
	float: right;
	width: 280px;
}

#sidebar-a .padding {
	padding: 25px;
}

#content {
	margin-right: 280px;
}

#content .padding {
	padding: 25px;
}

#content h2 {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

#content p {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

#footer {
	clear: both;
	height: 66px;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 10px;
	color: #223344;
	border-top: 1px solid #efefef;
	padding: 13px 25px;
	line-height: 18px;
}

#footer #altnav {
	width: 350px;
	float: right;
	text-align: right;
	padding-top: 13px;
}

#footer #copyright {
	padding-top: 13px;
}

#footer a {
	color: #223344;
	text-decoration: none;
}

#footer a:hover {
	color: #445566;
}