<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ace="http://www.icefaces.org/icefaces/components">

    <ui:composition template="../../template.xhtml">

        <ui:define name="body">
            <h:form>
                <style type="text/css">
                    /* Important required because row */
                    .ui-datatable-odd {background-color:lightblue !important;}
                </style>
                <ace:dataTable id="showPokoje"
                               value="#{pokojController.allPokoje}"
                               var="s"
                               rows="10"
                               paginator="true"
                               paginatorPosition="bottom">
                    <ace:column id="car" headerText="Číslo pokoje" filterBy="#{s.cisloPokoje}" filterMatchMode="contains">
                        <h:outputText id="carCell" value="#{s.cisloPokoje}"/>
                    </ace:column>
                    <ace:column id="name" headerText="Počet lůžek" filterBy="#{s.pocetLuzek}" filterMatchMode="contains">
                        <h:outputText id="nameCell" value="#{s.pocetLuzek}"/>
                    </ace:column>
                    <ace:column id="popis" headerText="Cena" filterBy="#{s.cena}" filterMatchMode="contains">
                        <h:outputText id="namePopis" value="#{s.cena}"/>
                    </ace:column>
                </ace:dataTable>
            </h:form>
            <!--
            <h:commandLink action="#.{pokojController.prepareView}" />
            <h:outputText value=" "/>
            <h:commandLink action="#.{pokojController.prepareEdit}" />
            <h:outputText value=" "/>
            <h:commandLink action="#.{pokojController.destroy}" />
            -->
        </ui:define>
    </ui:composition>

</html>
