<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="../../template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateZakaznikTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateZakaznikLabel_cisloDokladu}" for="cisloDokladu" />
                    <h:inputText id="cisloDokladu" value="#{zakaznikController.selected.cisloDokladu}" title="#{bundle.CreateZakaznikTitle_cisloDokladu}" required="true" requiredMessage="#{bundle.CreateZakaznikRequiredMessage_cisloDokladu}"/>
                    <h:outputLabel value="#{bundle.CreateZakaznikLabel_jmeno}" for="jmeno" />
                    <h:inputText id="jmeno" value="#{zakaznikController.selected.jmeno}" title="#{bundle.CreateZakaznikTitle_jmeno}" required="true" requiredMessage="#{bundle.CreateZakaznikRequiredMessage_jmeno}"/>
                    <h:outputLabel value="#{bundle.CreateZakaznikLabel_prijmeni}" for="prijmeni" />
                    <h:inputText id="prijmeni" value="#{zakaznikController.selected.prijmeni}" title="#{bundle.CreateZakaznikTitle_prijmeni}" required="true" requiredMessage="#{bundle.CreateZakaznikRequiredMessage_prijmeni}"/>
                    <h:outputLabel value="#{bundle.CreateZakaznikLabel_datumNarozeni}" for="datumNarozeni" />
                    <h:inputText id="datumNarozeni" value="#{zakaznikController.selected.datumNarozeni}" title="#{bundle.CreateZakaznikTitle_datumNarozeni}" required="true" requiredMessage="#{bundle.CreateZakaznikRequiredMessage_datumNarozeni}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateZakaznikLabel_adresa}" for="adresa" />
                    <h:inputText id="adresa" value="#{zakaznikController.selected.adresa}" title="#{bundle.CreateZakaznikTitle_adresa}" required="true" requiredMessage="#{bundle.CreateZakaznikRequiredMessage_adresa}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{zakaznikController.create}" value="#{bundle.CreateZakaznikSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{zakaznikController.prepareList}" value="#{bundle.CreateZakaznikShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateZakaznikIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
