<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components">

    <ui:composition template="../../template.xhtml">
        <ui:define name="body">
            <h:form>
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <style type="text/css">
                    /* Important required because row */
                    .ui-datatable-odd {background-color:lightblue !important;}
                </style>
                <ace:dataTable id="showRezervace"
                               value="#{common.allZakaznici}"
                               var="car"
                               rows="10"
                               paginator="true"
                               paginatorPosition="bottom"
                               selectionMode="single"
                               rowSelectListener="#{zakaznikController.selectListener}">
                    <ace:column id="id" headerText="Číslo dokladu" filterBy="#{car.cisloDokladu}" filterMatchMode="contains">
                        <h:outputText id="idC" value="#{car.cisloDokladu}"/>
                    </ace:column>
                    <ace:column id="dv" headerText="Jméno" filterBy="#{car.jmeno}" filterMatchMode="contains">
                        <h:outputText id="dvC" value="#{car.jmeno}"/>
                    </ace:column>
                    <ace:column id="dp" headerText="Příjmení" filterBy="#{car.prijmeni}" filterMatchMode="contains">
                        <h:outputText id="dpC" value="#{car.prijmeni}"/>
                    </ace:column>
                    <ace:column id="dz" headerText="Datum narození" filterBy="#{car.datumNarozeni}" filterMatchMode="contains">
                        <h:outputText id="dqC" value="#{car.datumNarozeni}"/>
                    </ace:column>
                    <ace:column id="ad" headerText="Adresa" filterBy="#{car.adresa}" filterMatchMode="contains">
                        <h:outputText id="dzC" value="#{car.adresa}"/>
                    </ace:column>
                    <!--
                        <h:commandLink action="#.{rezervaceController.prepareView}" value="#.{bundle.ListRezervaceViewLink}"/>
                        <h:outputText value=" "/>
                        <h:commandLink action="#.{rezervaceController.prepareEdit}" value="#.{bundle.ListRezervaceEditLink}"/>
                        <h:outputText value=" "/>
                        <h:commandLink action="#.{rezervaceController.destroy}" value="#.{bundle.ListRezervaceDestroyLink}"/>
                    -->
                </ace:dataTable>

                <br/>
                <ace:panel id="personalInfoInputPanel" header="Zaměstnanec"  rendered="#{zakaznikController.isSelected}">
                    <h:panelGrid id="inputGrid" columns="2" width="25%" styleClass="textEntryInputTable">
                       
                        <h:outputLabel style="font-weight: bold" value="Číslo dokladu: "/>
                        <h:outputText id="cdC" value="#{zakaznikController.current.cisloDokladu}"/>
                        
                        <h:outputLabel style="font-weight: bold" value="Jméno:"/>
                        <h:inputText id="dpC" value="#{zakaznikController.current.jmeno}" required="true" requiredMessage="Zadejte prosím jméno"/>
                        <h:outputLabel style="font-weight: bold" value="Příjmení: "/>
                        <h:inputText id="dzC" value="#{zakaznikController.current.prijmeni}" required="true" requiredMessage="Zadejte prosím příjmení"/>
                        <h:outputLabel style="font-weight: bold" value="Datum narození: "/>
                        
                        <ace:dateTimeEntry id="rezervaceOd" showOn="both"
                                           value="#{zakaznikController.current.datumNarozeni}"
                                           pattern="dd. MM. yyyy"
                                           renderAsPopup="true"
                                           required="true"
                                           readOnlyInputText="true"
                                           mindate="#{rezervaceController.maxDateBirth}">
                        </ace:dateTimeEntry>
                        
                        <h:outputLabel style="font-weight: bold" value="Adresa: "/>
                        <h:inputText id="ad" value="#{zakaznikController.current.adresa}" required="true" requiredMessage="Zadejte prosím adresu"/>
                        
                        <h:commandButton value="Změnit" action="#{zakaznikController.update()}"/>
                        <h:commandButton value="Zrušit" action="#{zakaznikController.destroy()}"/><br/>
                    </h:panelGrid>
                </ace:panel>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
