<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="../template.xhtml">
            <ui:define name="body">
                <center><h2><h:outputText value="Přístup odepřen!" styleClass="header"></h:outputText></h2>
                <hr width="50%"/>
                <h:outputText
                    value="Nemáte dostatečná oprávnění vidět tento obsah, kontatujte administrátora
                    aby Vám přidělil dostatečná práva."></h:outputText>
                </center>
            </ui:define>
        </ui:composition>

    </body>
</html>
