<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="title">Hotel</ui:insert></title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
        <h:outputStylesheet name="css/cssLayout.css"/>
        <h:outputStylesheet name="css/default.css"/>
        <ice:outputStyle href="/xmlhttp/css/rime/rime.css" />
        <h:outputStylesheet library="xmlhttp/css/xp" name="xp.css" />
        <!--<ice:outputStyle href="./xmlhttp/css/xp/xp.css" rel="stylesheet" type="text/css" />-->
    </h:head>

    <h:body>

        <div id="top">
            <ui:insert name="top">    
                <h2>Hotel</h2>
                <h:form>
                    <ace:menuBar id="menu" autoSubmenuDisplay="true">
                        <ace:submenu id="rezervace" rendered="#{not facesContext.externalContext.isUserInRole('ADMIN') and not empty request.remoteUser}"
                                     label="Rezervace" style="color: #444444">
                            <ace:menuItem id="rezervovat">
                                <h:link style="color: #666666" outcome="/public/rezervace/Create" value="Rezervovat"/>
                            </ace:menuItem>
                            <ace:menuItem id="zobrazRezervaceM" rendered="#{facesContext.externalContext.isUserInRole('MANAGER')}">
                                <h:link style="color: #666666" outcome="/manager/rezervace/List" value="Zobraz rezervace"/>
                            </ace:menuItem>
                            <ace:menuItem id="zobrazRezervaceU" rendered="#{facesContext.externalContext.isUserInRole('USER')}">
                                <h:link style="color: #666666" outcome="/user/rezervace/List" value="Zobraz rezervace"/>
                            </ace:menuItem>
                        </ace:submenu>

                        <!--  POBYTY -->
                        <ace:menuItem id="subPobyty">
                            <h:link style="color: #444444" outcome="/user/pobyt/List" value="Moje pobyty" rendered="#{facesContext.externalContext.isUserInRole('USER')}"/>
                            <h:link style="color: #444444" outcome="/manager/pobyt/List" value="Info o pobytech" rendered="#{facesContext.externalContext.isUserInRole('MANAGER')}"/>
                        </ace:menuItem>
                        
                        <!--  POKOJE  -->
                        <ace:menuItem id="subPokoje" rendered="#{not facesContext.externalContext.isUserInRole('ADMIN')}">
                            <h:link style="color: #444444" outcome="/public/pokoj/List" value="Info o pokojích"/>
                        </ace:menuItem>
                        <ace:submenu id="pokojeA"
                                     label="Pokoje"
                                     style="color: #444444"  rendered="#{facesContext.externalContext.isUserInRole('ADMIN')}">
                            <ace:menuItem id="vvyvortiPokoj">
                                <h:link style="color: #666666" outcome="/admin/pokoj/Create" value="Vytvořit pokoj"/>
                            </ace:menuItem>
                            <ace:menuItem id="listovatPokoje">
                                <h:link style="color: #666666" outcome="/admin/pokoj/List" value="Zobrazit pokoje"/>
                            </ace:menuItem>
                        </ace:submenu>
                        
                        <!--  SLUZBY -->
                        <ace:submenu id="sluzby"
                                     label="Služby"
                                     style="color: #444444"  rendered="#{facesContext.externalContext.isUserInRole('ADMIN')}">
                            <ace:menuItem id="objednatSluzbu">
                                <h:link style="color: #666666" outcome="/admin/sluzba/Create" value="Vytvořit službu"/>
                            </ace:menuItem>
                            <ace:menuItem id="zobrazitSluzby">
                                <h:link style="color: #666666" outcome="/admin/sluzba/List" value="Zobrazit služby"/>
                            </ace:menuItem>
                        </ace:submenu>
                        
                        <ace:menuItem id="zobrazitSluzbySingle" rendered="#{not facesContext.externalContext.isUserInRole('ADMIN')}">
                            <h:link style="color: #444444" outcome="/public/sluzba/List" value="Naše služby"/>
                        </ace:menuItem>

                        
                        <!--  ZAKAZNICI -->
                        <ace:menuItem id="zakzanikList" rendered="#{facesContext.externalContext.isUserInRole('MANAGER')}">
                            <h:link style="color: #444444" outcome="/manager/zakaznik/List" value="Info o zákaznících"/>
                        </ace:menuItem>
                        
                        <!--  KONTAKT -->
                        <ace:menuItem id="kontaktInfo" rendered="#{not facesContext.externalContext.isUserInRole('ADMIN') and not facesContext.externalContext.isUserInRole('MANAGER')}">
                            <h:link style="color: #444444" outcome="/faces/public/kontakt" value="Kontaktní údaje"/>
                        </ace:menuItem>

                        <!--  UZIVATEL -->
                        <ace:submenu id="zamestnanci"
                                     label="Zaměstnanci"
                                     style="color: #444444"
                                     rendered="#{facesContext.externalContext.isUserInRole('ADMIN')}">
                        <ace:menuItem id="zakzanikListAdmin">
                            <h:link style="color: #111111" outcome="/admin/zakaznik/List" value="Zobrazit"/>
                        </ace:menuItem>
                        <ace:menuItem id="addManager">
                                <h:link style="color: #111111" value="Přidat" outcome="/public/registrace/registrace" />
                        </ace:menuItem>
                            </ace:submenu>
                        
                        <ace:submenu id="uzivatel"
                                     label="Uživatel #{common.whatUser()}"
                                     style="color: #444444">
                            <ace:menuItem id="registrace" rendered="#{empty request.remoteUser}">
                                <h:link style="color: #111111" value="Registrovat" outcome="/public/registrace/registrace" rendered="#{empty request.remoteUser}" />
                            </ace:menuItem>
                            <ace:menuItem id="loginn" rendered="#{empty request.remoteUser}">
                                <h:link style="color: #111111" value="Login" outcome="/public/admin/login" rendered="#{empty request.remoteUser}" />
                            </ace:menuItem>
                            <ace:menuItem id="logoutt" rendered="#{not empty request.remoteUser}">
                                <h:commandLink style="color: #111111" value="Logout" action="#{common.doLogout()}" rendered="#{not empty request.remoteUser}" />
                            </ace:menuItem>

                            <ace:menuItem id="myInfo" rendered="#{facesContext.externalContext.isUserInRole('USER')}">
                                <h:commandLink style="color: #111111" value="Info o mně" action="#{common.prepareView()}" rendered="#{facesContext.externalContext.isUserInRole('USER')}"/>
                            </ace:menuItem>
                            <ace:menuItem id="zrusiUcet" rendered="#{facesContext.externalContext.isUserInRole('USER')}">
                                <h:commandLink style="color: #111111" value="Zrušit účet" action="#{zakaznikController.prepareDestroy()}" rendered="#{facesContext.externalContext.isUserInRole('USER')}"/>
                            </ace:menuItem>
                            
                        </ace:submenu>

                    </ace:menuBar>
                </h:form>
            </ui:insert>
        </div>  
        <div id="ccc">
            <ui:insert name="body">
                <h3>
                    Hotel
                </h3>
                <p>Lorem ipsum dolor sit amet, <b>consectetuer</b> adipiscing elit.<br/> Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Vivamus porttitor turpis ac leo. Duis condimentum augue id magna semper rutrum. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Neque porro <b>quisquam</b> est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Nullam <b>faucibus</b> mi quis velit. Phasellus et lorem id felis nonummy placerat. Aenean fermentum risus id tortor. Donec iaculis gravida nulla. Vestibulum fermentum tortor <b>id</b> mi.<br/> In sem justo, commodo ut, suscipit at, pharetra vitae, orci. <b>Proin></b> pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. </p>
                <p>
                    Morbi leo mi, nonummy eget tristique non, <i>rhoncus</i> non leo. Integer pellentesque quam vel velit. Mauris dictum facilisis augue. <i>Integer</i> tempor.<br/> Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Nullam sit amet magna in magna gravida vehicula. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante.<br/> Sed convallis magna eu sem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec quis nibh at felis congue commodo. In convallis. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis <i>voluptas</i> assumenda est, omnis dolor repellendus. <br/>Class aptent <i>taciti</i> sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Etiam neque. 
                </p>
            </ui:insert>
        </div>
        <div id="bottom">
            <ui:insert name="bottom">Copyleft Filip and Ondra. Powered by <strong>Java</strong>.</ui:insert>
        </div>

    </h:body>


</html>
